<div class="row">
  <div class="form-group">
    <label class="control-label">Search for stocks
      <input ngModel="" name="search" #searchInput="ngModel" class="control" type="text"/>
    </label>
  </div>
</div>
<div class="row">
  <ul class="unstyled">
    <li class="stockItem" *ngFor="let item of results$ |async">
      <span>{{item.Symbol}}</span>
      <span>{{item.Name}}</span>
      <button class="btn btn-danger" (click)="addToWatch(item)"> Add to Watch</button>
    </li>
  </ul>
</div>
